In [23]:
"""
Laboratorio - Manipulación de Datos usando Pandas
-----------------------------------------------------------------------------------------

Este archivo contiene las preguntas que se van a realizar en el laboratorio.

Utilice los archivos `tbl0.tsv`, `tbl1.tsv` y `tbl2.tsv`, para resolver las preguntas.

"""
import pandas as pd

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

def pregunta_01():
    """
    ¿Cuál es la cantidad de filas en la tabla `tbl0.tsv`?
    Rta/
    40
    """

    return len(tbl0)

print(pregunta_01())

40

In [25]:
def pregunta_02():
    """
    ¿Cuál es la cantidad de columnas en la tabla `tbl0.tsv`?
    Rta/
    4
    """
    return len(tbl0.columns)
print(pregunta_02())

4

In [35]:
def pregunta_03():
    """
    ¿Cuál es la cantidad de registros por cada letra de la columna _c1 del archivo
    `tbl0.tsv`?

    Rta/
        A     8
        B     7
        C     5
        D     6
        E    14
        Name: _c1, dtype: int64

    """
    conteo_por_letra = tbl0['_c1'].value_counts()
    conteo_por_letra.name = '_c1'
    conteo_por_letra.index.name = None
    return conteo_por_letra.sort_index()

# Llamar a la función para obtener la respuesta
print(pregunta_03())

# Imprimir la respuesta

A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [41]:
def pregunta_04():
    """
    Calcule el promedio de _c2 por cada letra de la _c1 del archivo `tbl0.tsv`.

    Rta/
    A    4.625000
    B    5.142857
    C    5.400000
    D    3.833333
    E    4.785714
    Name: _c2, dtype: float64
    """
    prom_por_letra = tbl0.groupby('_c1')['_c2'].mean()
    prom_por_letra.name = '_c2'
    prom_por_letra.index.name = None
    return prom_por_letra
print(pregunta_04())

A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [42]:
def pregunta_05():
    """
    Calcule el valor máximo de _c2 por cada letra en la columna _c1 del archivo
    `tbl0.tsv`.

    Rta/
    _c1
    A    9
    B    9
    C    9
    D    7
    E    9
    Name: _c2, dtype: int64
    """
    max_por_letra = tbl0.groupby('_c1')['_c2'].max()
    max_por_letra.name = '_c2'
    max_por_letra.index.name = None
    return max_por_letra
print(pregunta_05())

A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [43]:
def pregunta_06():
    """
    Retorne una lista con los valores unicos de la columna _c4 de del archivo `tbl1.csv`
    en mayusculas y ordenados alfabéticamente.

    Rta/
    ['A', 'B', 'C', 'D', 'E', 'F', 'G']

    """
    return sorted(tbl1['_c4'].str.upper().unique())
print(pregunta_06())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [47]:
def pregunta_07():
    """
    Calcule la suma de la _c2 por cada letra de la _c1 del archivo `tbl0.tsv`.

    Rta/
    _c1
    A    37
    B    36
    C    27
    D    23
    E    67
    Name: _c2, dtype: int64
    """
    suma_por_letra = tbl0.groupby('_c1')['_c2'].sum()
    suma_por_letra.name = '_c2'
    suma_por_letra.index.name = None
    return suma_por_letra
print(pregunta_07())

A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [59]:
def pregunta_08():
    """
    Agregue una columna llamada `suma` con la suma de _c0 y _c2 al archivo `tbl0.tsv`.

    Rta/
        _c0 _c1  _c2         _c3  suma
    0     0   E    1  1999-02-28     1
    1     1   A    2  1999-10-28     3
    2     2   B    5  1998-05-02     7
    ...
    37   37   C    9  1997-07-22    46
    38   38   E    1  1999-09-28    39
    39   39   E    5  1998-01-26    44

    """
    tbl0['suma'] = tbl0['_c0'] + tbl0['_c2']
    return tbl0
print(pregunta_08())

#     return tbl0
# print(pregunta_08())

    _c0 _c1  _c2         _c3    year  suma
0     0   E    1  1999-02-28  1999.0     1
1     1   A    2  1999-10-28  1999.0     3
2     2   B    5  1998-05-02  1998.0     7
3     3   A    3  1999-08-28  1999.0     6
4     4   C    6  1999-12-01  1999.0    10
5     5   A    7  1998-07-28  1998.0    12
6     6   A    9  1997-02-28  1997.0    15
7     7   B    1  1999-05-10  1999.0     8
8     8   E    2  1997-04-12  1997.0    10
9     9   B    3  1999-11-23  1999.0    12
10   10   C    7  1998-01-17  1998.0    17
11   11   C    5  1998-12-28  1998.0    16
12   12   D    3  1999-10-15  1999.0    15
13   13   E    8  1998-11-01  1998.0    21
14   14   B    9  1999-08-12  1999.0    23
15   15   D    1  1997-12-01  1997.0    16
16   16   E    3  1997-07-28  1997.0    19
17   17   D    5  1998-08-12  1998.0    22
18   18   E    8  1999-08-24  1999.0    26
19   19   E    9  1998-01-23  1998.0    28
20   20   E    7  1999-06-22  1999.0    27
21   21   E    3  1999-04-24  1999.0    24
22   22   D    5  1999-06-25  1999.0    27
23   23   A    1  1999-08-25  1999.0    24
24   24   E    4  1997-07-26  1997.0    28
25   25   E    6  1997-09-24  1997.0    31
26   26   A    8  1997-09-28  1997.0    34
27   27   E    5  1999-06-22  1999.0    32
28   28   A    6  1999-07-29  1999.0    34
29   29   C    0  1999-08-22  1999.0    29
30   30   A    1  1998-04-26  1998.0    31
31   31   D    2  1998-02-24  1998.0    33
32   32   E    5  1999-03-24  1999.0    37
33   33   B    4  1998-03-23  1998.0    37
34   34   B    6  1999-04-21  1999.0    40
35   35   D    7  1999-02-29     NaN    42
36   36   B    8  1997-05-21  1997.0    44
37   37   C    9  1997-07-22  1997.0    46
38   38   E    1  1999-09-28  1999.0    39
39   39   E    5  1998-01-26  1998.0    44

In [71]:
def pregunta_09():
    """
    Agregue el año como una columna al archivo `tbl0.tsv`.

    Rta/
        _c0 _c1  _c2         _c3  year
    0     0   E    1  1999-02-28  1999
    1     1   A    2  1999-10-28  1999
    2     2   B    5  1998-05-02  1998
    ...
    37   37   C    9  1997-07-22  1997
    38   38   E    1  1999-09-28  1999
    39   39   E    5  1998-01-26  1998

    """
    tbl0['year'] = tbl0['_c3'].str[:4]
    return tbl0
print(pregunta_09())

    _c0 _c1  _c2         _c3  year
0     0   E    1  1999-02-28  1999
1     1   A    2  1999-10-28  1999
2     2   B    5  1998-05-02  1998
3     3   A    3  1999-08-28  1999
4     4   C    6  1999-12-01  1999
5     5   A    7  1998-07-28  1998
6     6   A    9  1997-02-28  1997
7     7   B    1  1999-05-10  1999
8     8   E    2  1997-04-12  1997
9     9   B    3  1999-11-23  1999
10   10   C    7  1998-01-17  1998
11   11   C    5  1998-12-28  1998
12   12   D    3  1999-10-15  1999
13   13   E    8  1998-11-01  1998
14   14   B    9  1999-08-12  1999
15   15   D    1  1997-12-01  1997
16   16   E    3  1997-07-28  1997
17   17   D    5  1998-08-12  1998
18   18   E    8  1999-08-24  1999
19   19   E    9  1998-01-23  1998
20   20   E    7  1999-06-22  1999
21   21   E    3  1999-04-24  1999
22   22   D    5  1999-06-25  1999
23   23   A    1  1999-08-25  1999
24   24   E    4  1997-07-26  1997
25   25   E    6  1997-09-24  1997
26   26   A    8  1997-09-28  1997
27   27   E    5  1999-06-22  1999
28   28   A    6  1999-07-29  1999
29   29   C    0  1999-08-22  1999
30   30   A    1  1998-04-26  1998
31   31   D    2  1998-02-24  1998
32   32   E    5  1999-03-24  1999
33   33   B    4  1998-03-23  1998
34   34   B    6  1999-04-21  1999
35   35   D    7  1999-02-29  1999
36   36   B    8  1997-05-21  1997
37   37   C    9  1997-07-22  1997
38   38   E    1  1999-09-28  1999
39   39   E    5  1998-01-26  1998

In [118]:
def pregunta_10():
  """
  Construya una tabla que contenga _c1 y una lista separada por ':' de los valores de
  la columna _c2 para el archivo `tbl0.tsv`.


 Rta/
                                   _c1
      _c0
    0   A              1:1:2:3:6:7:8:9
    1   B                1:3:4:5:6:8:9
    2   C                    0:5:6:7:9
    3   D                  1:2:3:5:5:7
    4   E  1:1:2:3:3:4:5:5:5:6:7:8:8:9
  """
    # tabla = tbl0.groupby('_c1').agg({'_c2': lambda x: ':'.join(map(str, x))}).reset_index()
    # tabla.columns = ['_c1', '_c2']
    #     # Función personalizada para construir la cadena con ':' separando los valores
    # def join_values(values):
    #     return ':'.join(str(v) for v in sorted(values))

    # # Agrupar por _c1 y aplicar la función personalizada para construir la lista separada por ':'
    # tabla = tbl0.groupby('_c1')['_c2'].agg(join_values).reset_index()
  tabla = tbl0.groupby('_c1')['_c2'].agg(lambda values: ':'.join(str(v) for v in sorted(values))).reset_index().set_index('_c1')

  return tabla
print(pregunta_10())

  # df10 = tbl0.copy()
  # df10 = tbl0[["_c1", "_c2"]]
  
  # return df10.groupby("_c1", as_index=True).agg(
  #   {"_c2": lambda x: ":".join(map(str, sorted(x)))}

                             _c2
_c1
A                1:1:2:3:6:7:8:9
B                  1:3:4:5:6:8:9
C                      0:5:6:7:9
D                    1:2:3:5:5:7
E    1:1:2:3:3:4:5:5:5:6:7:8:8:9

In [121]:
def pregunta_11():
    """
    Construya una tabla que contenga _c0 y una lista separada por ',' de los valores de
    la columna _c4 del archivo `tbl1.tsv`.

    Rta/
        _c0      _c4
    0     0    b,f,g
    1     1    a,c,f
    2     2  a,c,e,f
    3     3      a,b
    ...
    37   37  a,c,e,f
    38   38      d,e
    39   39    a,d,f
    """
    tabla = tbl1.groupby('_c0')['_c4'].agg(lambda values: ','.join(str(v) for v in sorted(values))).reset_index().set_index('_c0')
    #aparezca el indice
    
    return tabla
print(pregunta_11())

         _c4
_c0
0      b,f,g
1      a,c,f
2    a,c,e,f
3        a,b
4    a,d,f,g
5        c,d
6      a,d,g
7        a,b
8    a,d,e,f
9    b,d,f,g
10   b,c,d,f
11   a,c,d,e
12   b,e,f,g
13       c,f
14       b,d
15       e,f
16     b,e,f
17       a,g
18   a,c,e,f
19       a,e
20       e,f
21     b,c,g
22     a,c,f
23     a,d,f
24       c,d
25     c,d,e
26     a,e,f
27     a,c,g
28       e,f
29   a,c,f,g
30       b,f
31       b,f
32       a,c
33     b,c,f
34     a,e,f
35       a,f
36       a,c
37   a,c,e,f
38       d,e
39     a,d,f

In [123]:
def pregunta_12():
    """
    Construya una tabla que contenga _c0 y una lista separada por ',' de los valores de
    la columna _c5a y _c5b (unidos por ':') de la tabla `tbl2.tsv`.

    Rta/
        _c0                                  _c5
    0     0        bbb:0,ddd:9,ggg:8,hhh:2,jjj:3
    1     1              aaa:3,ccc:2,ddd:0,hhh:9
    2     2              ccc:6,ddd:2,ggg:5,jjj:1
    ...
    37   37                    eee:0,fff:2,hhh:6
    38   38                    eee:0,fff:9,iii:2
    39   39                    ggg:3,hhh:8,jjj:5
    """
    tabla = tbl2.groupby('_c0')[['_c5a', '_c5b']].apply(lambda x: ','.join(f'{a}:{b}' for a, b in x.values)).reset_index()
    tabla.columns = ['_c0', '_c5']
    tabla = tabla.set_index('_c0')
    return tabla
print(pregunta_12())

                                     _c5
_c0
0          jjj:3,bbb:0,ddd:9,ggg:8,hhh:2
1                ccc:2,ddd:0,aaa:3,hhh:9
2                ddd:2,ggg:5,ccc:6,jjj:1
3                hhh:9,iii:5,eee:7,bbb:1
4                iii:6,ddd:5,eee:4,jjj:3
5          bbb:2,hhh:0,ccc:4,fff:1,aaa:7
6    aaa:5,fff:8,ddd:2,iii:0,jjj:7,ccc:1
7                      fff:3,hhh:1,ddd:2
8    eee:4,ccc:5,iii:9,fff:7,ggg:6,bbb:0
9    bbb:7,jjj:9,fff:5,iii:4,ggg:2,eee:3
10         hhh:6,eee:4,iii:0,fff:2,jjj:1
11                     bbb:7,iii:6,ggg:9
12         bbb:9,aaa:3,ccc:6,fff:4,eee:2
13                     aaa:8,ddd:5,jjj:1
14         ccc:0,jjj:6,fff:7,ddd:3,aaa:2
15               ccc:0,eee:6,bbb:9,ddd:3
16   bbb:6,iii:3,hhh:5,fff:4,ggg:9,ddd:2
17                     hhh:4,jjj:5,ccc:9
18                     ccc:1,iii:6,fff:9
19                     bbb:9,aaa:3,fff:1
20                     ddd:9,iii:2,aaa:4
21                     ccc:5,fff:8,iii:7
22                     eee:3,jjj:2,ddd:7
23         jjj:1,ggg:0,ccc:7,ddd:9,bbb:3
24   jjj:6,ccc:0,aaa:1,hhh:9,iii:7,ggg:8
25   fff:3,eee:6,iii:4,bbb:7,ddd:0,ccc:1
26                     fff:0,ddd:5,ccc:4
27         ggg:6,hhh:3,ddd:9,ccc:0,jjj:7
28         hhh:6,jjj:0,eee:5,iii:7,ccc:3
29   eee:1,fff:4,aaa:2,ccc:7,ggg:0,ddd:6
30         ccc:6,aaa:9,eee:5,ddd:0,bbb:3
31   bbb:7,hhh:1,aaa:6,iii:4,fff:9,ddd:5
32               fff:3,ccc:1,ggg:2,eee:5
33   iii:7,ggg:3,ddd:0,jjj:8,hhh:5,ccc:1
34         hhh:6,ccc:3,jjj:0,bbb:8,ddd:7
35                     aaa:0,fff:5,ddd:3
36         ddd:5,jjj:2,iii:7,ccc:0,bbb:4
37                     eee:0,fff:2,hhh:6
38                     fff:9,iii:2,eee:0
39                     hhh:8,ggg:3,jjj:5